# Day 4: Python Basics

# Data Types, Functions, and Loops

## 1. Exploring Data Types
## Integer, Float, String, Boolean, List, Tuple, Set, Dictionary

In [4]:
# Integer Example
x = 10
print("Integer:", x, type(x))

Integer: 10 <class 'int'>

In [5]:
# Float Example
y = 3.14
print("Float:", y, type(y))

Float: 3.14 <class 'float'>

In [6]:
# String Example
z = "Hello, Python!"
print("String:", z, type(z))

String: Hello, Python! <class 'str'>

In [7]:
# Boolean Example
flag = True
print("Boolean:", flag, type(flag))

Boolean: True <class 'bool'>

In [8]:
# List Example
fruits = ["apple", "banana", "cherry"]
print("List:", fruits, type(fruits))

List: ['apple', 'banana', 'cherry'] <class 'list'>

In [9]:
# Tuple Example
tuple_example = (1, 2, 3)
print("Tuple:", tuple_example, type(tuple_example))

Tuple: (1, 2, 3) <class 'tuple'>

In [10]:
# Set Example
set_example = {1, 2, 3, 4}
print("Set:", set_example, type(set_example))

Set: {1, 2, 3, 4} <class 'set'>

In [11]:
# Dictionary Example
dict_example = {"name": "Alice", "age": 25}
print("Dictionary:", dict_example, type(dict_example))

Dictionary: {'name': 'Alice', 'age': 25} <class 'dict'>

## 2. Functions
## Define and use custom functions

In [13]:
# Define and use custom functions

def greet(name):
    return f"Hello, {name}!"

print(greet("Aishwarya"))

Hello, Aishwarya!

In [14]:
def add_numbers(a, b):
    return a + b

print("Sum:", add_numbers(5, 7))

Sum: 12

In [15]:
# Lambda Function
square = lambda x: x ** 2
print("Square of 4:", square(4))

Square of 4: 16

## 3. Loops

In [17]:
# For loop example
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry

In [18]:
# While loop example
count = 5
while count > 0:
    print("Count:", count)
    count -= 1

Count: 5
Count: 4
Count: 3
Count: 2
Count: 1

In [19]:
# Using break and continue
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    if i % 2 == 0:
        continue  # Skip even numbers
    print("Odd Number:", i)

Odd Number: 1
Odd Number: 3