# Day 6: Pandas Basics

# DataFrames, Indexing, and Filtering

In [5]:
import pandas as pd

## 1. Creating a DataFrame

In [8]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}

In [10]:
df = pd.DataFrame(data)

In [12]:
print("DataFrame:")
print(df)

DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

## 2. Indexing and Selection

In [15]:
# Selecting a column
print("\nSelecting Age column:")
print(df['Age'])

Selecting Age column:
0    25
1    30
2    35
Name: Age, dtype: int64

In [17]:
# Selecting multiple columns
print("\nSelecting Name and Salary columns:")
print(df[['Name', 'Salary']])

Selecting Name and Salary columns:
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

In [19]:
# Selecting rows using loc (by label)
print("\nSelecting row with label 1:")
print(df.loc[1])

Selecting row with label 1:
Name        Bob
Age          30
Salary    60000
Name: 1, dtype: object

In [21]:
# Selecting rows using iloc (by index)
print("\nSelecting first two rows:")
print(df.iloc[0:2])

Selecting first two rows:
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

## 3. Filtering Data

In [24]:
# Filtering rows where Age is greater than 28
filtered_df = df[df['Age'] > 28]

In [26]:
print("\nFiltered DataFrame where Age > 28:")
print(filtered_df)

Filtered DataFrame where Age > 28:
      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000